*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/fundo2.jpg);
    background-size:cover;
    background-position: left;
    font-family: 'Quicksand',sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15%;
    background-color: #FFF3B0;
    border-radius: 12px 12px 0px 0px ;
    width: 90%;
    height:50%;
}

.container-photo img{
    width: 88%;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

.container a{
    text-decoration: none;
    font-size: 35pt;
}

.container a:hover{
    transform: scale(1.2);
    transition: ease-in-out 200ms;
    cursor: pointer;
}

.details{
    width: 30px;
    height: 20px;
    background-color: red;
}

.text{
    background-color: #FFF3B0 ;
    width: 90%;
    height: 20;
    border-radius: 0px 0px 12px 12px ;
    text-align: center;
}

.text > h2{
    padding: 0 0 5% 0%;
    font-size: 17pt;

}
